html{
    font-size: 20px;
    color: aliceblue;
    font-family: monospace;
}
.contenedor{
	max-width: 120rem;
	margin: 0 10px 0 10px;
}
  .centrado{
	margin:10px auto;
	display:block;
    }

.titulo{
	border: solid black;
    text-align: center;
    border-bottom-color: black;
}

.cuerpo{
	padding: 3rem;
	border: solid black;
    text-align: center;  
} 
.segmentos{
	border: solid black;
	display: flex;
	justify-content: space-between;
}

.pie{
	padding: 2rem;
	border: solid black;
    text-align: center;
}